.todo-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
  align-items: center;

  h2 {
    text-align: center;
  }

  input {
    width: 300px;
    margin-left: 20px;
    height: 35px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;

    button {
      margin-left: 100px;
      margin-top: 20px;
      width: 200px;
    }
  }
  .list-group-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.bi-pencil{
  margin-right: 10px;
}
  }

