.main-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  border: 1px solid gray;
  margin: auto;
  margin-top: 80px;
  padding: 30px;

  h2 {
    text-align: center;
  }

  .rnumber {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
  }

  .rprice {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
  }
  .rstatus {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
  }

}
